@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form action="/home/model" method="post">
        <div class="mb-3">
            <label for="av" class="form-label">Объемный коэффициент теплоотдачи, Вт/(м<sub>3</sub> • К)</label>
            <input name="av" type="text" class="form-control" id="av" />
        </div>
        <div class="mb-3">
            <label for="wg" class="form-label">Скорость газа на свободное сечение шахты, м/с</label>
            <input name="wg" type="text" class="form-control" id="wg" />
        </div>
        <div class="mb-3">
            <label for="H0" class="form-label">Высота слоя, м</label>
            <input name="H0" type="text" class="form-control" id="H0" />
        </div>
        <div class="mb-3">
            <label for="Cg" class="form-label">
                Средняя теплоемкость газа,кДж/(м3 • К)
            </label>
            <input name="Cg" type="text" class="form-control" id="Cg" />
        </div>
        <div class="mb-3">
            <label for="Gm" class="form-label">
                Теплоемкость окатышей,кДж/(м3 • К)
            </label>
            <input name="Gm" type="text" class="form-control" id="Gm" />
        </div>
        <div class="mb-3">
            <label for="Cm" class="form-label">
                Расход окатышей,кг/с
            </label>
            <input name="Cm" type="text" class="form-control" id="Cm" />
        </div>
        <div class="mb-3">
            <label for="t" class="form-label">
                Начальная температура окатышей, 0C
            </label>
            <input name="t" type="text" class="form-control" id="t" />
        </div>
        <div class="mb-3">
            <label for="T" class="form-label">
                Начальная температура воздуха, 0C
            </label>
            <input name="T" type="text" class="form-control" id="T" />
        </div>
        <div class="mb-3">
            <label for="d" class="form-label">
                Диаметр окатышей, м
            </label>
            <input name="d" type="text" class="form-control" id="d" />
        </div>

        @*         <div class="mb-3">
        <label for="Operation" class="form-label">Операторы</label>
        <select type="result" name="operationType" class="form-control" id= "result">
        <option value="1">Сложение</option>
        <option value="2">Вычитание</option>
        <option value="3">Умножение</option>
        <option value="4">Деление</option>
        </select>
        </div> *@

        <button>Рассчитать</button>
    </form>
</div>
